<footer class="footer">
  <small>
    Template App
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://tickleup.blogspot.com/?view=timeslide">News</a></li>
    </ul>
  </nav>
</footer>